<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logFileName" value="altradyNotifierLog" />
	<targets>
		<target name="logToFile"
				xsi:type="File"
				fileName="${basedir}/log/${logFileName}.txt"
				archiveFileName="${basedir}/log/${logFileName}.{#}.txt" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="366"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${date:format=yyyy.MM.dd} | ${date:format=HH.mm.ss.fff} | ${uppercase:${level}} | ${callsite} | ${message} ${onexception: | ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />
		<target name="logToConsole"
				xsi:type="Console"
				layout="${date:format=dd.MM.yyyy HH\:mm\:ss} | ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logToFile" />
		<logger name="*" minlevel="Info" writeTo="logToConsole" />
	</rules>
</nlog>