<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="dateFormat" value="${date:format=yyyy.MM.dd}" />
  <variable name="timeFormat" value="${date:format=HH\:mm\:ss}" />
  <variable name="timeDetailFormat" value="${date:format=HH\:mm\:ss.fff}" />
  <variable name="dateTimeFormat" value="${dateFormat} ${timeFormat}" />
  <variable name="dateTimeDetailFormat" value="${dateFormat} ${timeDetailFormat}" />
  <variable name="logDir" value="./log" />
  <variable name="logFileName" value="${dateFormat}.log" />
  <targets>
    <target name="logToFile" xsi:type="File" fileName="${logDir}/${logFileName}" layout="${dateTimeDetailFormat} | ${uppercase:${level}} | ${callsite} | ${message} ${onexception: | ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />
    <target name="logToConsole" xsi:type="Console" layout="${dateTimeFormat} | ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logToFile" />
    <logger name="*" minlevel="Info" writeTo="logToConsole" />
  </rules>
</nlog>