/.vs
/AltradyNotifier/bin
/AltradyNotifier/obj
/AltradyNotifier/pub
/AltradyNotifier/AltradyNotifier.csproj.user
/AltradyNotifier/AltradyNotifier.Btee.json

/AltradyNotifier.Test/bin
/AltradyNotifier.Test/obj